.App{
  margin-top: 8%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.conteudo{
    border-radius: 15px;
    width: 30%;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.174);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 80%;
    height: 70%;
    border-radius: 500px;
}

.button-result{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: #0a9f90;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

.div-result{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    font-size: 20px;
}

div {
    color: white
}

form{
    align-items: center;
}

.form-imc {
    border-radius: 10px;
    background-color: #1a9084;
    padding: 15px;
    margin: 30px;
}

.line {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
    display: flex;
    justify-content: center;
}

h2,
label {
    color: white;
}

input {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    padding: 4%;
    color: gray;
}

.button-form{
    border-radius: 5px;
    background-color: #36932c;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    padding: 3% 8%;
    
}

.button-form:hover{
    background-color: #1c6e13;
    transition: 0.5s;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.302);
}

input:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
