div {
    color: white
}

form{
    align-items: center;
    width: 30%;
}

.form-imc {
    /* max-width: 400px; */
    border-radius: 10px;
    background-color: #1a9084;
    padding: 30px;
    margin: 30px;
}

.line {
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h2{
    display: flex;
    justify-content: center;
}

h2,
label {
    color: white;
}

input {
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    padding: 4%;
    color: gray;
}

.label-input {
    display: flex;
    flex-direction: column;
}



.button-form{
    border-radius: 5px;
    background-color: #36932c;
    color: white;
    border: none;
    font-size: 15px;
    font-weight: bold;
    margin-top: 40px;
    text-decoration: none;
    display: flex;
    margin: 0 auto;
    padding: 3% 8%;
    
}

.button-form:hover{
    background-color: #1c6e13;
    transition: 0.5s;
}

input::placeholder{
    color: rgba(0, 0, 0, 0.302);
}

input:focus{
    outline: none;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}
