.conteudo{
    border-radius: 15px;
    width: 30%;
    padding: 50px;
    background-color: rgba(255, 255, 255, 0.174);
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    width: 80%;
    height: 70%;
    border-radius: 500px;
}

button{
    width: 50%;
    height: 50px;
    border-radius: 10px;
    background-color: #0a9f90;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}